<p id="notice"><%= notice %></p>

<h2>
  <%= @project.name %>
</h2>
<ul class='list-group'>
<% @project.tasks.each do |task| %>
  <li class='list-group-item <%= completed_class(task) %>'>
    <%= form_for(task) do |f| %>
      <%= f.check_box(:completed) %>
      <%= task.name %>
      <%= f.submit("Save", class: 'btn btn-xs btn-default pull-right') %>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
