<p id="notice"><%= notice %></p>

<h2>
  <%= @project.name %>
</h2>
<ul class='list-group'>
<% @project.tasks.each do |task| %>
  <li class='list-group-item'><%= task.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
